@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.signin-background{
    background-image: url('../image/backgroundimg.png');
    background-repeat: no-repeat;
    margin:0;
    background-size: 100% 100%;
    height:100vh; 
}   

.rightside-title{    
position: absolute;
width: 480px;
height: 116px;
left: 842px;
top: 130px;
font-family: 'Fredoka One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
letter-spacing: 0.1em;
color: #000000;
}

.signin-container{
    display:flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    position: absolute;
    left: 165px;
    top: 25px;
}

.signin-logo{
    margin-bottom:15px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.signin-logo img{
    width: 300px;
height: 100.19px;
}

.login-section{
    display:flex;
    align-items: center;
}

.garis{
    border-bottom: 1px black solid;
    flex:1;
}

.login-section strong{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 20px 30px 20px 30px;
}

form input{
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    width: 395px;
    font-size: 16px;
    display:flex;
    height: 60px;
    margin-bottom:15px;
}

.signin-button{   
    background: #FFD302;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 395px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-bottom: 15px;
}

.signin-button:hover{
    background: #d3b003;
    transition: .3s ease-in-out;
}