@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.todopage-progressbar{
    width: 95%;
    height: 20px;    
    background: #AAAAAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.pie-chart-details{
    display:flex;
}

.completed-ongoing{
    display:flex;
    align-items: center;
    padding-right:1em;
}

.complete-rectangle{
    width: 11px;
    margin-right:1em;
    height: 11px;
    background: #FFD302;
    border-radius: 2px;
}

.ongoing-rectangle{
    width: 11px;
    margin-right:1em;
    height: 11px;
    background: #C4EBF2;
    border-radius: 2px;
}

.navbar-todo{
    display:flex;
    padding:1em 0;
}

.todolist-page{
    display:flex;
    width:100%;
}     

.todo-container{
    display:flex;
    flex-direction:column
}

.todolist-page{
    display:flex;
    justify-content:space-around
}

.todolist-container{
    width: 300px;
    max-height: 30000px;
    background: #88C7E6;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px  20px 20px 20px;
}

.todo-container > h3{
    text-align: center;
}

.todolisttop-container{
     width: 100%;
    height: 40px;
    background: #FFD302;
    display:flex;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
}

.todolisttop-container > h4{
    height:100%;
    width:30%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 5px;
    border-right: 1px solid black;
}

.todotop-right{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    padding:0 0.5em;
}

.todotop-input{
    font-family: 'Poppins', sans-serif;
    width:100%;
    background-color:#FFD302;
    border:none;
    outline:none;
    font-weight:bold;
    font-size:14px;
}

.todotop-input::placeholder {
    color: black;
    opacity: 1; 
  }

.todotop-right > img{
    padding-right:5px;
}

.todotop-right > button{
    border:none;
    background:none;
    cursor:pointer;
}

.todoitem{
    width: 300px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.todoitemlist{
    width: 280px;
    height: 49px;
    background: #F4F4F4;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:1em 0;
    display:flex;
    align-items: center;
    justify-content: space-around;
}


.todoitemlist > input{
    width: 15px;
    height: 15px;
}

.todoitemlist > span{
    margin-right:auto;
    padding-left:.5em;
}

.edittodo-container{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
}

.edittodo-container >.edit-todo{
    width: 220px;
    margin-right:auto;
    height: 30px;
    background: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    border:none;
    outline:none;
    font-size:14px;
}

.edittodo-container > button{
    border:none;
    background:none;
    cursor:pointer;
    width:30px;
    height:30px;
    margin:0 15px;
}

.todoitemlist > button{
    border:none;
    background:none;
    cursor:pointer;
    width:30px;
    height:30px;
}

.done-top{
    width: 100%;
    height: 40px;
    background: #FFD302;
    display:flex;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    justify-content: center;
}